body {
  background-color: #eaf6f6;
  font-family: "Nunito", sans-serif;
}
.weather-app {
  background: #fff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}
